<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="#">{{apptCtrl.title}}</a>
      <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item" ng-repeat="page in pages">
            <a class="nav-link" ng-mode="page.name" ng-click=" goToPage(page.name) ">{{page.label}}</a>
          </li> -->
          <li class="nav-item" >
            <a class="nav-link" ng-mode="ApptCtrl.pages[0].name" ng-click=" ApptCtrl.goToPage(page.name) ">{{ApptCtrl.pages[0].name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>