<div class="container" ng-controller="AnswersPageCtrl">
    <div class="row">
        <div class="col-12">
            <h1>Choose test</h1>
            <div class="list-group-item" ng-repeat="quiz in answersPage.quizes" ng-click="answersPage.select(quiz.id)" ng-class="{'active': quiz.id === answersPage.showQuiz}">
               {{quiz.id}}. {{quiz.name}}
            </div>
        </div>
        <div class="col-12 text-center mt-5">
            <button ng-click="answersPage.goToQuiz()" class="btn btn-success text-center">Go to quiz</button>
        </div>
        
    </div>
    
    
    <div class="row">
        <div class="col"  ng-show="answersPage.mode === true">
            <form>
                <div class="form-group mb-3">
                    <label for="task_name">Name:</label>
                    <input
                      id="task_name"
                      type="text"
                      class="form-control"
                      ng-model="answersPage.student.name"
                    />
                </div>
        
                <div class="list-group-item" ng-repeat="questions in answersPage.questionsToQuiz" ng-mode="questions.id">
                    {{$index+1}}. {{questions.name}}
                    <div class="list-group-item" ng-repeat="answer in questions.answers" ng-mode="questions.id">
                        {{answer.answer}}, Is correct: {{answer.correct}}
                    </div>
                </div>

                <div class="col-12 text-center mt-3 mb-5">
                    <button ng-click="" class="btn btn-warning text-center">Send answers</button>
                </div>
            </form>

        </div>
      </div>
</div>
