<div class="row" ng-controller="QuizesPageCtrl">
    <div class="col">
        <h5>Quiz List</h5>
        <div class="list-group-item" ng-repeat="quiz in quizesPage.quizes" ng-click="quizesPage.select(quiz.id)">
            {{quiz.id}} {{quiz.name}}
        </div>
        <button ng-click="quizesPage.creatNew()">Create new</button>
    </div>

    <div class="col" ng-if="quizesPage.selected && quizesPage.mode == 'show'">
        <h5>Quiz details</h5>
        <dl>
            <dt>Name</dt>
            <dd>{{quizesPage.selectedQuiz.name}}</dd>
            <button ng-click="quizesPage.edit()">Edit Quiz name</button>
            <dt>Questions</dt>
            <dd ng-repeat="question in quizesPage.questionsTemp" ng-click="quizesPage.selectQuestion(question)">
                {{question.name}}
            </dd>
        </dl>

        <button ng-click="quizesPage.addNewQuestion()">Add new question</button>
    </div>
    <div class="col">
        <div ng-if="quizesPage.selected && quizesPage.mode == 'edit'">
            <h5 ng-if="quizesPage.formMode == 'edit'">Your quiz Name {{quizesPage.selectedQuizTemp.name}}</h5>
            <h5 ng-if="quizesPage.formMode == 'new'">You create new quiz</h5>

            <div class="form-group mb-3"><label for="quiz_name">quiz name</label>
                <input id="quiz_name" type="text" class="form-control" ng-model='quizesPage.selectedQuizTemp.name'>
            </div>
            <div>
                <button ng-click='quizesPage.save(quizesPage.selectedQuizTemp)'>Save</button>
            </div>
        </div>
        <div ng-if="quizesPage.selectedQuestion">
            <h5>Create / Change question</h5>
            <div class="form-group mb-3"><label for="question_name">quiz name</label>
                <input id="question_name" type="text" class="form-control"
                    ng-model='quizesPage.selectedQuestionTemp.name'>
            </div>
            <div>
                <button ng-click='quizesPage.saveQuestion(quizesPage.selectedQuestionTemp)'>Save
                    question</button>
            </div>
        </div>
    </div>

    <!-- Answers -->
    <div class="col" ng-if="quizesPage.selectedAnswer">
        <h5> Question answer details</h5>
        <div> {{quizesPage.selectedQuestionTemp.name}} </div>
        <dl ng-repeat="item in quizesPage.answersTemp">
            <dt>Answer</dt>
            <dd ng-click="quizesPage.editAnswer(item)">{{item.id}} {{item.answer}}</dd>
            <dt>Corected:</dt>
            <dd>{{item.correct ? 'yes' : 'no' }}</dd>
        </dl>

        <button ng-click="quizesPage.creatNewAnswer(selectedQuestionTemp.id)">Create new answer</button>
    </div>

    <div class="col" ng-if="quizesPage.changeAnswer">
        <h5> Create or change answer</h5>
        <div class="form-group mb-3"><label for="quiz_name">Question</label>
            <input id="quiz_name" type="text" class="form-control" ng-model="quizesPage.selectedAnswerTemp.answer"
                ng-model='quizesPage.selectedQuizTemp.name'>
        </div>
        <div>
            <label for="answer_correct"> <input id="answer_correct" type="checkbox"
                    ng-model="quizesPage.selectedAnswerTemp.correct">Correct anser</label>
            <button ng-click='quizesPage.saveAnswer(quizesPage.selectedAnswerTemp)'>Save</button>
        </div>
    </div>

</div>